#team_players{
	display: inline-block;
	text-align: center;
}
#team_players li{
	align-items: center !important;
	min-height: 8rem !important;
	max-height: 8rem !important;
	min-width: 40% !important;
	max-width: 40% !important;
	/*margin-right: auto !important;
	margin-left: auto !important;*/
	cursor: pointer;
	display: inline-flex; 

}
#team_players li:hover{
	box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
#team_players img{
	object-fit: cover;
	height: 100px;
	width: 100px;
}

#team_ind{
	min-width: 50% !important;
	max-width: 50% !important;
	margin-right: auto !important;
	margin-left: auto !important;
}
#team_ind img{
	object-fit: cover;
	height: 10rem !important;
	max-width: 100% !important;
}
.err-txt{
	font-size: 12px !important;
	opacity: 0.5;
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	#team_ind{
		min-width: 100% !important;
		max-width: 100% !important;
	}
	#team_players li{
		min-width: 90% !important;
		max-width: 90% !important;
	}
	#team_ind{
		padding: 0 !important;
	}
}
@media (max-width: 767.98px) {
	#team_ind{
		min-width: 100% !important;
		max-width: 100% !important;
	}
}

@media (max-width: 991.98px) {
	#team_ind{
		min-width: 100% !important;
		max-width: 100% !important;
	}
}

